.DS_Store
*.sublime-project
*.sublime-workspace
**/.sass-cache/*
.sass-cache
.sass-cache/*
node_modules/*
public_html/styles/*.css
public_html/scripts/*.js
public_html/scripts/*.map
inc/environment.json
inc/db.php